@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --blue: #5497A7;
  --black: #0a0609;
  --light-color: #5e5d5d;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --border: 0.2rem solid rgba(0, 0, 0, 0.1);
  --outline: 0.1rem solid rgba(0, 0, 0, 0.1);
  --outline-hover: 0.2rem solid var(--black);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  background: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

body img {
  width: 50px;
  height: auto;
  cursor: pointer;
  position: fixed;
  top: 5%;
  left: 3%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--black);
  color: var(--black);
  cursor: pointer;
  background: none;
}

.btn:hover {
  background: var(--blue);
  color: #fff;
}

/*create account*/
.account-form {
  box-shadow: var(--box-shadow);
  padding: 3rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.account-form h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--black);
}

.account-form form {
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.account-form input {
  font-size: 2rem;
  border: solid black 1px;
  padding: 2%;
  margin: 1%;
  background-color: #eee;
  border-radius: 10px;
}

.checkbox-sect label{
  font-size:2rem;
}
