* {
  font-family: "Courier New", Courier, monospace;
}
html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
}

.home-main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: white;
  overflow-x: hidden;
}

/* Navbar Styling */

.navbar-container {
  width: 100%;
  height: 8%;
  background-color: #5497a7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar-title {
  font-size: 2rem;
  margin: 0 0 0 5%;
  cursor: pointer;
}

.navbar-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 40%;
  margin: 0 3%;
}
.navbar-list p {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0 15px 0;
}

.activeTab {
  border-bottom: solid white 2px;
}
.account-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.account-button {
  background-color: grey;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.account-button p {
  margin: 0;
  padding: 0;
}
.account-menu-content {
  position: absolute;
  top: 55px;
  right: -1000%;
  border: solid black 1px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  color: black;
  border-radius: 10px;
  transition: 0.3s;
}
.account-menu-content.active {
  right: -100%;
}

.account-menu-content h1 {
  font-size: 1rem;
}
.account-menu-content p {
  color: white;
  background-color: #5497a7;
  width: 70%;
  text-align: center;
  padding: 5% 0;
  border-radius: 10px;
  font-size:1rem;
}

.account-menu-content > input{
  color: white;
  background-color: #5497a7;
  width: 70%;
  text-align: center;
  padding: 5% 0;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 4%;
}

.account-menu-content a {
  color: #5497a7;
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 4%;
}
.signIn-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 2%;
  margin-bottom: 3%;
}

.signIn-form > button {
  color: white;
  background-color: #5497a7;
  width: 50%;
  text-align: center;
  padding: 3% 0;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 4%;

}

/* Switch Styling*/
label {
  font-size: 13px;
  color: black;
  font-weight: 500;
}
.user-selector-switch {
  display: inline-block;
  margin: 0px;
}

.user-selector-switch > label.user-selector-switch-inner {
  margin: 0px;
  width: 140px;
  height: 30px;
  background: #e0e0e0;
  border-radius: 26px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
  display: block;
}
.user-selector-switch > label.user-selector-switch-inner:before {
  content: attr(data-on);
  position: absolute;
  font-size: 10px;
  font-weight: 500;
  top: 10px;
  right: 20px;
}

.user-selector-switch > label.user-selector-switch-inner::after {
  content: attr(data-off);
  width: 70px;
  height: 16px;
  background: #fff;
  border-radius: 26px;
  position: absolute;
  left: 2px;
  top: 2px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 6px -2px #111;
  padding: 5px 0px;
}

.user-selector-switch input[type="checkbox"] {
  cursor: pointer;
  width: 50px;
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

.user-selector-switch
  input[type="checkbox"]:checked
  + label.user-selector-switch-inner {
  color: black;
}

.user-selector-switch
  input[type="checkbox"]:checked
  + label.user-selector-switch-inner:after {
  content: attr(data-on);
  left: 68px;
}

.user-selector-switch
  input[type="checkbox"]:checked
  + label.user-selector-switch-inner:before {
  content: attr(data-off);
  right: auto;
  left: 10px;
}

/* Welcome section Styling */
.welcome-container {
  width: 100%;
  height: 60%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/venue-wallpaper.jpg");
  background-size: 100%;
  
}

.welcome-container h1 {
  color: white;
  font-size: 3.5rem;
  margin-bottom: 10%;
}
.search-bar-container {
  width: 70%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  border: solid black 2px;
  color: black;
  font-size: 1.2rem;
}
.search-bar-section {
  width: 31%;
  height: 100%;
  border-right: solid black 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.search-bar-container form {
  width: 100%;

}

#locations{
  border-radius: 10px 0 0 10px;
}

.search-bar-section select{
  width:100%;
  height:100%;
  background-color: white;
  border: none;
  border-radius: 10px 0 0 10px;
  font-size: 1.2rem;
}


.search-button-container {
  width: 7%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-button-container:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search-button-container button {
  height: 100%;
  outline: none;
  border: none;
  background-color: white;
}

.search-button-container img {
  height: 80%;
  
}

.venue-items-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.venue-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 15px;
  border: solid black 1px;
  margin: 2%;
  cursor: pointer;
}

.venue-image {
  height: 100%;
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid black 2px;
  color: black;
}

.venue-image img{
  width: 70%;
  height:auto;
}

.venue-title {
  color: black;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100vh;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

.modal-open {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100vh;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 55%;
  background-color: white;
  border-radius: 15px;
}
.modal-image {
  width: 50%;
  height: 100%;
  border-right: solid black 2px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-image img{
  width:80%;
  height:auto;
}

.modal-text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.modal-text-top {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.modal-text-bottom {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.modal-text-top > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-text p {
  margin: 0;
}
.venue-title {
  font-weight: bold;
}

.reservation-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.reservation-form > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reservation-form select {
  border: solid black 1px;
  border-radius: 10px;
  background-color: white;
  font-weight: bold;
  height: 150%;
  margin-left: 1.5%;
}

.reservation-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 15%;
  border-radius: 10px;
  background-color: #5497a7;
  color: white;
  font-weight: bold;
  font-size:1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  outline:none;
  border:none;
  cursor: pointer;
  margin: 2% 0;
}

/* The Close Button */
.close {
  position: absolute;
  top: 10%;
  right: 3%;
  color: #f1f1f1;
  font-size: 50px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


.home-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 500px;
  min-height: 500px;
  max-height: 40%;
}

.home-cards-item {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  cursor: pointer;
}
.card-item-text {
  grid-row: 1;
  grid-column: 1;
  color: black;
  text-align: center;
  visibility: hidden;
  transition: 0.2s ease-in-out;
}

.card-item-image {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.opacity-seperator {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  visibility: hidden;
}

.home-cards-item:hover .card-item-text {
  visibility: initial;
  transform: scale(1.5);
}
.home-cards-item:hover .opacity-seperator {
  visibility: initial;
}

.footer-container {
  width: 100%;
  height: 200px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5497a7;
}
.footer-container p {
  font-weight: bold;
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  * {
    overflow-x: hidden;
  }
}
