body {
  font-family:"Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header, footer {
  background-color: #5497a7;
  padding: 10px;
  color: #fff;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header img {
  margin-left: 10px;
  width: 4%;
  cursor: pointer;
}


.profile-container {
    width: 80%;
    max-width: 800px; 
    margin: 50px auto;
    text-align: center;
  }

  .profile-box {
    background-color: #5497a7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    margin: 2% 0;
  }

  .profile-box h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .profile-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .profile-info div {
    flex: 1;
    margin-right: 10px;
  }

  .profile-info button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
  }