* {
  font-family: "Courier New", Courier, monospace;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
}

.signIn-main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}

.signIn-form-container {
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5497a7;
  border-radius: 25px;
}
.signIn-form {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2%;
  font-size: 2rem;
}

.input-section input {
  padding: 2%;
}
