<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width , initial-scale=1.0" />
    <title>Locatable</title>

    <!-- custom css file link -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/createAccount.css')}}"
    />
  </head>

  <body>
    <!--account form starts-->
    <div class="account-form">
      <h3>list your venue</h3>
      <form method="POST" action="http://localhost:3000/create">
        <input name="name" type="text" placeholder="Venue Name" class="box" />
        <input name="location" type="text" placeholder="Location" class="box" />
        <input name="capacity" type="text" placeholder="Capacity" class="box" />
        <input
          name="email"
          type="email"
          placeholder="Email Address"
          class="box"
        />
        <input
          name="password"
          type="password"
          placeholder="Password"
          class="box"
        />

        <input type="submit" value="list" class="btn" />
      </form>
    </div>
    <!--account form ends-->
  </body>
</html>
