<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width , initial-scale=1.0" />
    <title>Locatable</title>

    <!-- custom css file link -->
    <link
      rel="stylesheet"
      href= "../static/css/createAccount.css"
    />
  </head>

  <body>
    <!--account form starts-->
    <div class="account-form">
      <h3>List Your Venue</h3>
      <form method="POST" action="/listVenue" enctype="multipart/form-data" >
        <input name="name" type="text" placeholder="Venue Name" class="box" required/>
        <input name="location" type="text" placeholder="Location" class="box" required/>
        <input name="category" type="text" placeholder="Category" class="box" required/>
        <input name="capacity" type="text" placeholder="Capacity" class="box" required/>
        <input name="price" type="number" min="0" step="0.25" placeholder="Price Per Hour" class="box" required/>
        <input name="imgPath" type="file" class="box" required/>


        <input type="submit" value="LIST MY VENUE" class="btn" />
      </form>
    </div>
    <!--account form ends-->
  </body>
</html>
