<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Locatable</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main_style.css')}}"
    />
    <link rel="shortcut icon" href="#" />
    <link
      rel="stylesheet"
      href="//use.fontawesome.com/releases/v5.15.4/css/all.css"
    />
  </head>
  <body>
    <div class="home-main-container">
      <div class="navbar-container">
        <p class="navbar-title" onclick="location.assign('/')">Locatable</p>
        <div class="navbar-list">
          <p onclick="location.assign('/explore')">EXPLORE</p>
          {% if session["email"] and session["user_mode"] == "OWNER" %}
          <p onclick="location.assign('/listVenue')">LIST MY VENUE</p>
          {% else %}
          <p>LIST MY VENUE</p>
          {% endif %}

          <div class="account-div">
            <div class="account-button" id="account-button">
              <p id="account-button-content"></p>
            </div>
            <div class="account-menu-content" id="account-menu-loggedOut">
              <p onclick="logOut()">LOG OUT</p>
            </div>
            <div class="account-menu-content" id="account-menu-loggedIn">
              <h1>SIGN IN</h1>
              <form
                action=""
                method="post"
                class="signIn-form"
                id="signIn-form"
              >
                <div class="input-section">
                  <label for="email">Email:</label>
                  <input type="email" id="email" name="email" />
                </div>

                <div class="input-section">
                  <label for="password">Password:</label>
                  <input type="password" id="password" name="password" />
                </div>
                <div class="input-section">
                  <label class="switch user-selector-switch">
                    <input
                      type="checkbox"
                      name="user_mode"
                      id="user_mode"
                      value="1"
                    />
                    <label
                      id="user_mode_label"
                      for="user_mode"
                      data-on="OWNER"
                      data-off="CUSTOMER"
                      class="user-selector-switch-inner"
                    ></label>
                  </label>
                </div>
                <button type="submit">Sign In</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="welcome-container">
        <h1>WELCOME SECTION</h1>

        <form
          class="search-bar-container"
          id="search-form"
          action=""
          method="POST"
        >
          <div class="search-bar-section">
            <select name="location" id="locations">
              <option value="-">Choose Location</option>
            </select>
          </div>

          <div class="search-bar-section">
            <select name="category" id="categories">
              <option value="-">Choose Category</option>
            </select>
          </div>

          <div class="search-bar-section">
            <select name="capacity" id="capacities">
              <option value="-">Choose Capacity</option>
            </select>
          </div>

          <div class="search-button-container">
            <button type="submit">
              <img src="../static/images/search.svg" />
            </button>
          </div>
        </form>
      </div>

      <div class="venue-items-container"></div>

      <div class="home-cards-container">
        <div class="home-cards-item">
          <img
            class="card-item-image"
            src="../static/images/birthday-cake.svg"
          />
          <div class="opacity-seperator"></div>
          <h1 class="card-item-text">Birthday</h1>
        </div>
        <div class="home-cards-item">
          <img
            class="card-item-image"
            src="../static/images/party-popper.svg"
          />
          <div class="opacity-seperator"></div>
          <h1 class="card-item-text">Party</h1>
        </div>
        <div class="home-cards-item">
          <img
            class="card-item-image"
            src="../static/images/wedding-rings.svg"
          />
          <div class="opacity-seperator"></div>
          <h1 class="card-item-text">Weddings</h1>
        </div>
      </div>
      <div class="footer-container">
        <p>The place to find the venue you need!</p>
        <p>Locatable © 2023</p>
      </div>
    </div>

    <script>
      let locationArrow = document.getElementById("dropdown-arrow-location");
      let categoryArrow = document.getElementById("dropdown-arrow-category");
      let capacityArrow = document.getElementById("dropdown-arrow-capacity");

      function updateArrowIcon(element) {
        switch (element) {
          case "location":
            let locationSrc = locationArrow.src.substr(
              locationArrow.src.indexOf("-") + 1
            );

            if (locationSrc === "down.svg") {
              locationArrow.src = "../static/images/arrow-up.svg";
              document.getElementById("location-dropdown").style.visibility =
                "visible";
            } else {
              locationArrow.src = "../static/images/arrow-down.svg";
              document.getElementById("location-dropdown").style.visibility =
                "hidden";
            }
            break;

          case "category":
            let categorySrc = categoryArrow.src.substr(
              categoryArrow.src.indexOf("-") + 1
            );

            if (categorySrc === "down.svg") {
              categoryArrow.src = "../static/images/arrow-up.svg";
              document.getElementById("category-dropdown").style.visibility =
                "visible";
            } else {
              categoryArrow.src = "../static/images/arrow-down.svg";
              document.getElementById("category-dropdown").style.visibility =
                "hidden";
            }
            break;

          case "capacity":
            let capacitySrc = capacityArrow.src.substr(
              capacityArrow.src.indexOf("-") + 1
            );
            if (capacitySrc === "down.svg") {
              capacityArrow.src = "../static/images/arrow-up.svg";
            } else {
              capacityArrow.src = "../static/images/arrow-down.svg";
            }
            break;
        }
      }

      let accountButton = document.getElementById("account-button");
      let loggedInMenu = document.getElementById("account-menu-loggedIn");
      let loggedOutMenu = document.getElementById("account-menu-loggedOut");
      let loginForm = document.getElementById("signIn-form");
      let searchForm = document.getElementById("search-form");

      accountButton.onclick = () => {
        loggedInMenu.classList.toggle("active");
        loggedOutMenu.classList.toggle("active");
      };

      window.onload = () => {
        populateDropdowns();
        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            let response = JSON.parse(xhr.response);
            if (response) {
              if (response.loggedIn) {
                // User is signed In --> show log out menu
                loggedOutMenu.style.display = "flex";
                loggedInMenu.style.display = "none";
              } else {
                // User is not signed In --> show log in menu
                loggedOutMenu.style.display = "none";
                loggedInMenu.style.display = "flex";
              }
            }
          }
        };
        xhr.open("GET", "/loggedIn");
        xhr.send();
      };

      loginForm.addEventListener("submit", (e) => {
        e.preventDefault();
        let email = document.getElementById("email");
        let password = document.getElementById("password");
        let userMode = document.getElementById("user_mode");

        if (email.value == "" || password.value == "") {
          alert("Ensure you input a value in both fields!");
        } else {
          let xhr = new XMLHttpRequest();
          xhr.onreadystatechange = function () {
            if (xhr.response == "signedIn") {
              window.location.assign("/");
            }
          };
          xhr.open("POST", "/signIn");
          xhr.setRequestHeader("Content-type", "application/json");
          let data = JSON.stringify({
            email: email.value,
            password: password.value,
            userMode: userMode.checked,
          });
          xhr.send(data);
        }
      });

      function logOut() {
        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = () => {
          if (xhr.response == "signedOut") {
            window.location.assign("/");
          }
        };
        xhr.open("POST", "/signOut");
        xhr.send();
      }

      function populateDropdowns() {
        let locationsXHR = new XMLHttpRequest();
        locationsXHR.onreadystatechange = () => {
          if (locationsXHR.readyState === XMLHttpRequest.DONE) {
            if (locationsXHR.response) {
              let locations = JSON.parse(locationsXHR.response);
              console.log(locations);
              locations.forEach((location) => {
                let locationElement =
                  "<option value='" +
                  location.location +
                  "' >" +
                  location.location +
                  "</option>";
                document
                  .querySelector("#locations")
                  .insertAdjacentHTML("beforeend", locationElement);
              });
            }
          }
        };

        locationsXHR.open("GET", "/locations");
        locationsXHR.send();

        let categoryXHR = new XMLHttpRequest();
        categoryXHR.onreadystatechange = () => {
          if (categoryXHR.readyState === XMLHttpRequest.DONE) {
            if (categoryXHR.response) {
              let categories = JSON.parse(categoryXHR.response);
              categories.forEach((category) => {
                let categoryElement =
                  "<option value='" +
                  category.category +
                  "' >" +
                  category.category +
                  "</option>";
                document
                  .querySelector("#categories")
                  .insertAdjacentHTML("beforeend", categoryElement);
              });
            }
          }
        };
        categoryXHR.open("GET", "/categories");
        categoryXHR.send();

        let capacitiesXHR = new XMLHttpRequest();
        capacitiesXHR.onreadystatechange = () => {
          if (capacitiesXHR.readyState === XMLHttpRequest.DONE) {
            if (capacitiesXHR.response) {
              let capacities = JSON.parse(capacitiesXHR.response);
              console.log(capacities);
              capacities.forEach((capacity) => {
                let capacityElement =
                  "<option value='" +
                  capacity.capacity +
                  "' >" +
                  capacity.capacity +
                  "</option>";
                document
                  .querySelector("#capacities")
                  .insertAdjacentHTML("beforeend", capacityElement);
              });
            }
          }
        };
        capacitiesXHR.open("GET", "/capacities");
        capacitiesXHR.send();
      }

      function openModal(id) {
        document.getElementById(id).classList.replace("modal", "modal-open");
      }

      function closeModal(id) {
        document.getElementById(id).classList.replace("modal-open", "modal");
      }

      searchForm.addEventListener("submit", (e) => {
        e.preventDefault();
        let location = document.getElementById("locations");
        let category = document.getElementById("categories");
        let capacity = document.getElementById("capacities");

        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange =  () => {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.response) {
              let results = JSON.parse(xhr.response);
              results.forEach((venue,index) => {
                let venueElement = '<div class="venue-item"> ' +
                  "<div class='venue-image' onclick='openModal('venue0')'> IMAGE </div>" +
                    '<p class="venue-title">'+ venue.name +'</p> '+
                  '</div>' +
                  '<div id="venue'+ index +'" class="modal">' +
                  '<span class="close" onclick="closeModal("venue0")">' +
                    '<i class="fas fa-times"></i>'+
                  '</span>' +
                  '<div class="modal-content">'+
                    '<div class="modal-image"></div>' +
                    '<div class="modal-text">' +
                      '<p>' + venue.name + '</p>' +
                      '<p>Location:' + venue.location + '</p>' +
                      '<p>Category:' + venue.category +'</p>' +
                      '<p>Capacity:' + venue.capacity+ '</p>' +
                      '<div class="reservation-button">Reserve Now!</div>' +
                      '<input type="datetime-local" name="reservation-datetime" />' +
                    '</div>' +
                  '</div>' +
                '</div>'
                
                document.querySelector(".venue-items-container").insertAdjacentHTML("beforeend",venueElement);
              });
            }
          }
        };

        xhr.open("POST", "/search");
        xhr.setRequestHeader("Content-type", "application/json");
        let data = JSON.stringify({
          location:location.value,
          category: category.value,
          capacity: capacity.value
        });

        xhr.send(data);

      });

    </script>
  </body>
</html>
