<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Locatable</title>
    <link
      rel="stylesheet"
      href= "../static/css/main_style.css"
    />
    <link rel="shortcut icon" href="#" />
    <link
      rel="stylesheet"
      href="//use.fontawesome.com/releases/v5.15.4/css/all.css"
    />
  </head>
  <body>
    <div class="home-main-container">
      <div class="navbar-container">
        <p class="navbar-title" onclick="location.assign('/')">Locatable</p>
        <div class="navbar-list">
          <p onclick="location.assign('/explore')">EXPLORE</p>
          {% if session["email"] and session["user_mode"] == "OWNER" %}
          <p onclick="location.assign('/listVenue')">LIST MY VENUE</p>
          {% else %}
          <p>LIST MY VENUE</p>
          {% endif %}

          <div class="account-div">
            <div class="account-button" id="account-button">
              {% if session["email"] %}
              <p id="account-button-content">{{ session["email"][0] }}</p>
              {% else %}
              <p class="account-button-content"></p>
              {% endif %}
            </div>
            <div class="account-menu-content" id="account-menu-loggedOut">
              <p onclick="window.location.assign('myProfile')" >MY PROFILE</p>
              <p onclick="logOut()">LOG OUT</p>
            </div>
            <div class="account-menu-content" id="account-menu-loggedIn">
              <h1>SIGN IN</h1>
              <form
          
                method="post"
                class="signIn-form"
                id="signIn-form"
              >
                <div class="input-section">
                  <label for="email">Email:</label>
                  <input type="email" id="email" name="email" required />
                </div>

                <div class="input-section">
                  <label for="password">Password:</label>
                  <input type="password" id="password" name="password" required />
                </div>
                <div class="input-section">
                  <label class="switch user-selector-switch">
                    <input
                      type="checkbox"
                      name="user_mode"
                      id="user_mode"
                      value="1"
                    />
                    <label
                      id="user_mode_label"
                      for="user_mode"
                      data-on="OWNER"
                      data-off="CUSTOMER"
                      class="user-selector-switch-inner"
                    ></label>
                  </label>
                </div>
                <button type="submit">Sign In</button>
              </form>
              <a href="/createAccount">Don't Have An Account?</a>
            </div>
          </div>
        </div>
      </div>
      <div class="welcome-container">
        <h1>Find The Venue of Your Dreams</h1>

        <form
          class="search-bar-container"
          id="search-form"
          action=""
          method="POST"
        >
          <div class="search-bar-section">
            <select name="location" id="locations" required>
              <option value="-">Choose Location</option>
            </select>
          </div>

          <div class="search-bar-section">
            <select name="category" id="categories" required>
              <option value="-">Choose Category</option>
            </select>
          </div>

          <div class="search-bar-section">
            <select name="capacity" id="capacities" required>
              <option value="-">Choose Capacity</option>
            </select>
          </div>

          <div class="search-button-container">
            <button type="submit">
              <img src="../static/images/search.svg" />
            </button>
          </div>
        </form>
      </div>

      <div class="venue-items-container"></div>

      <div class="home-cards-container">
        <div class="home-cards-item">
          <img
            class="card-item-image"
            src="../static/images/birthday-cake.svg"
          />
          <div class="opacity-seperator"></div>
          <h1 class="card-item-text">Birthday</h1>
        </div>
        <div class="home-cards-item">
          <img
            class="card-item-image"
            src="../static/images/party-popper.svg"
          />
          <div class="opacity-seperator"></div>
          <h1 class="card-item-text">Party</h1>
        </div>
        <div class="home-cards-item">
          <img
            class="card-item-image"
            src="../static/images/wedding-rings.svg"
          />
          <div class="opacity-seperator"></div>
          <h1 class="card-item-text">Weddings</h1>
        </div>
      </div>
      <div class="footer-container">
        <p>The place to find the venue you need!</p>
        <p>Locatable © 2023</p>
      </div>
    </div>

    <script>
      let accountButton = document.getElementById("account-button");
      let loggedInMenu = document.getElementById("account-menu-loggedIn");
      let loggedOutMenu = document.getElementById("account-menu-loggedOut");
      let loginForm = document.getElementById("signIn-form");
      let searchForm = document.getElementById("search-form");

      accountButton.onclick = () => {
        loggedInMenu.classList.toggle("active");
        loggedOutMenu.classList.toggle("active");
      };

      window.onload = () => {
        populateDropdowns();
        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            let response = JSON.parse(xhr.response);
            if (response) {
              if (response.loggedIn) {
                // User is signed In --> show log out menu
                loggedOutMenu.style.display = "flex";
                loggedInMenu.style.display = "none";
              } else {
                // User is not signed In --> show log in menu
                loggedOutMenu.style.display = "none";
                loggedInMenu.style.display = "flex";
              }
            }
          }
        };
        xhr.open("GET", "/loggedIn");
        xhr.send();
      };

      loginForm.addEventListener("submit", (e) => {
        e.preventDefault();
        let email = document.getElementById("email");
        let password = document.getElementById("password");
        let userMode = document.getElementById("user_mode");

        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.response == "signedIn") {
              window.location.assign("/");
            }
            else {
                alert("Wrong username or password")
            }
          }
        };
        xhr.open("POST", "/signIn");
        xhr.setRequestHeader("Content-type", "application/json");
        let data = JSON.stringify({
          email: email.value,
          password: password.value,
          userMode: userMode.checked,
        });
        xhr.send(data);
      }
    );

      function logOut() {
        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = () => {
          if (xhr.response == "signedOut") {
            window.location.assign("/");
          }
        };
        xhr.open("POST", "/signOut");
        xhr.send();
      }

      function populateDropdowns() {
        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = () => {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.response) {
              let results = JSON.parse(xhr.response);
              let locations = results["locations"];
              let categories = results["categories"];
              let capacities = results["capacities"];

              locations.forEach((location) => {
                let locationElement =
                  "<option value='" + location + "' >" + location + "</option>";
                document
                  .querySelector("#locations")
                  .insertAdjacentHTML("beforeend", locationElement);
              });

              categories.forEach((category) => {
                let categoryElement =
                  "<option value='" + category + "' >" + category + "</option>";
                document
                  .querySelector("#categories")
                  .insertAdjacentHTML("beforeend", categoryElement);
              });

              capacities.forEach((capacity) => {
                let capacityElement =
                  "<option value='" + capacity + "' >" + capacity + "</option>";
                document
                  .querySelector("#capacities")
                  .insertAdjacentHTML("beforeend", capacityElement);
              });
            }
          }
        };

        xhr.open("GET", "/dropdowns");
        xhr.send();
      }

      function openModal(id) {
        document.getElementById(id).classList.replace("modal", "modal-open");
      }

      function closeModal(id) {
        document.getElementById(id).classList.replace("modal-open", "modal");
      }


      searchForm.addEventListener("submit", (e) => {
        e.preventDefault();
        let location = document.getElementById("locations");
        let category = document.getElementById("categories");
        let capacity = document.getElementById("capacities");

        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange =  () => {
          if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.response) {
              let results = JSON.parse(xhr.response);
              document.querySelector(".venue-items-container").innerHTML = "";
              results.forEach((venue,index) => {
                let venueElement = 
                  '<div class="venue-item"> ' +
                    "<div class='venue-image' onclick='openModal(\"venue" + index + "\")'>"+
                     '<img src="' + venue.imgPath + ' "/>'+
                    '</div>' +
                    '<p class="venue-title">'+ venue.name +'</p> '+
                  '</div>' +
                  '<div id="venue'+ index +'" class="modal">' +
                  "<span class='close' onclick='closeModal(\"venue" + index + "\")'>" +
                    '<i class="fas fa-times"></i>'+
                  '</span>' +
                  '<div class="modal-content">'+
                    '<div class="modal-image"> '+
                      '<img src="' + venue.imgPath + ' "/>'+
                    '</div>' +
                    '<div class="modal-text">' +
                      '<p>' + venue.name + '</p>' +
                      '<p>Location:' + venue.location + '</p>' +
                      '<p>Category:' + venue.category +'</p>' +
                      '<p>Capacity:' + venue.capacity+ '</p>' +
                      '<p>Price: ' + venue.price + '</p>' +
                      '{% if session["email"] and session["user_mode"]=="CUSTOMER" %}' +
                      '<form class="reservation-form" action="/reserve" method="POST">' +
                        '<input name="venue_name" value="'+ venue.name+ '" hidden />'+
                        '<label for="starttime">Start Time</label>' +
                        '<input type="datetime-local" name="datetime" />' +
                        '<label for="nbHours">Number of Hours</label>' +
                        '<input type="number" step="0.5" min="0" placeholder="Nb of Hours" name="nbHours" class="box" />' +
                
                        '<select  name="photographer">' +
                          '<option value="0">Choose Photographer</option>' +
                          '<option value="700">Joe Brown</option>' +
                          '<option value="701">Karl Miles</option>' +
                          '<option value="702">Miltch Clayton</option>' +
                          '<option value="703">Jocelyn Spears</option>' +
                          '<option value="704">Friedrick Chase</option>' +
                        '</select>' +

                        '<select name="catering">' +
                          '<option value="0">Choose Catering</option>' +
                          '<option value="500">Jodie Townsend</option>' +
                          '<option value="501">Antonio Flynn</option>' +
                          '<option value="502">Faye Boyer</option>' +
                          '<option value="503">Deb Merril</option>' +
                          '<option value="504">Adriana Blair</option>' +
                        '</select>' +

                        '<select  name="entertainment">' +
                          '<option value="0">Choose Entertainment</option>' +
                          '<option value="600">Patrick Deleon</option>' +
                          '<option value="601">Joanne Johnson</option>' +
                          '<option value="602">Russel Middleton</option>' +
                          '<option value="603">Jerome Crane</option>' +
                          '<option value="604">Tyler Thompson</option>' +
                        '</select>' +

                        '<select name="planner">' +
                          '<option value="0">Choose Event Planner</option>' +
                          '<option value="400">Thelma Noble</option>' +
                          '<option value="401">Theresa Proctor</option>' +
                          '<option value="402">Sandy Burges</option>' +
                          '<option value="403">Mindy McConnell</option>' +
                          '<option value="404">Roni Webster</option>' +
                        '</select>' +

                        '<button type="submit" class="reservation-button">Reserve Now!</button>' +
                
                      '</form>'+
                      '{% endif %}' +
                    '</div>' +
                  '</div>' +
                '</div>'
                
                document.querySelector(".venue-items-container").insertAdjacentHTML("beforeend",venueElement);
              });
            }
          }
        };

        xhr.open("POST", "/search");
        xhr.setRequestHeader("Content-type", "application/json");
        let data = JSON.stringify({
          location:location.value,
          category: category.value,
          capacity: capacity.value
        });

        xhr.send(data);

      });


    </script>
  </body>
</html>
