<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width , initial-scale=1.0" />
    <title>Locatable</title>

    <!-- custom css file link -->
    <link
      rel="stylesheet"
      href= "../static/css/myProfile.css"
    />
  </head>

  <body>
    <header></header>
    <!--account form starts-->
    <div class="profile-container">
      <h1>My Profile Summary</h1>
      {% for event in eventList %}
      <form class="event-form" id={{event.eventID}} action="/cancel" method="POST">
          <div class="profile-box">
            
            <div class="profile-info">
              <div>
                <div>Event ID:</div>
                <input name="eventID" hidden value={{event.eventID}} /><span>{{event.eventID}}</span>
              </div>
      
              <div>
                <div>Venue:</div>
                <span id="venue">{{event.name}}</span>
              </div>
      
              <div>
                <div>Date:</div>
                <span id="date">{{event.date}}</span>
              </div>
      
              <div>
                <div>Amenities:</div>
                <span id="amenities">{{event.photographer}}</span>
              </div>
      
              <div>
                <div>Total Price ($):</div>
                <span id="totalPrice">{{event.total}}</span>
              </div>

              <div>
                <button type="submit">CANCEL</button>
              </div>
           

            </div>
            
          </div>
        </form>
          {% endfor %}
        </div>
        <script>
         
        </script>
        <footer></footer>
  </body>
</html>
