<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width , initial-scale=1.0" />
    <title>Locatable</title>

    <!-- custom css file link -->
    <link
      rel="stylesheet"
      href= "../static/css/myProfile.css"
    />
  </head>

  <body>
    <header></header>
    <!--account form starts-->
    <div class="profile-container">
      <h1>My Profile Summary</h1>
          <div class="profile-box">
            <div class="profile-info">
              <div>
                <div>Event ID:</div>
                <span id="eventID">12345</span>
              </div>
      
              <div>
                <div>Venue:</div>
                <span id="venue">Sample Venue</span>
              </div>
      
              <div>
                <div>Date:</div>
                <span id="date">2023-12-12</span>
              </div>
      
              <div>
                <div>Amenities:</div>
                <span id="amenities">Sample Amenities</span>
              </div>
      
              <div>
                <div>Total Price ($):</div>
                <span id="totalPrice">100.00</span>
              </div>
              
              <div>
                <button class="cancel-button">Cancel</button>
              </div>
            </div>
          </div>
        </div>
    <footer></footer>
  </body>
</html>
