<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Flask Template Project</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/signIn.css')}}"
    />
    <link rel="shortcut icon" href="#" />
    <link
      rel="stylesheet"
      href="//use.fontawesome.com/releases/v5.15.4/css/all.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <div class="signIn-main-container">
      <div class="signIn-form-container">
        <h1>SIGN IN PAGE</h1>
        <form action="/signIn" method="post" class="signIn-form">
          <div class="input-section">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" />
          </div>

          <div class="input-section">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" />
          </div>
          <button type="submit">Sign In</button>
        </form>
      </div>
    </div>

    <script>
      // Function when button is pressed --> Calls Python Backend (POST)
      function ajax_post_fxn() {
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "/post");
        //xhr.onload = function (){console.log("RESPONSE", this.response)};
        xhr.send(new Document({ message: "POST FROM BROWSER" }));
        return false;
      }
    </script>
  </body>
</html>
